PORT=5000
JWT_SECRET=your-secret-key-change-in-production
ADMIN_EMAIL=admin@gereja.com
ADMIN_PASSWORD=admin123
GOOGLE_SHEETS_SPREADSHEET_ID=1_ppGCS2b4tx_wZ4gZd_k4I4-00Dvpl6ddMmx4Lr1SjE
GOOGLE_SHEETS_CLIENT_EMAIL=church-cms-api@church-cms-496315.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nYOUR_PRIVATE_KEY_HERE\\n-----END PRIVATE KEY-----\\n"
